<launch>
    <!-- 
        A full example of a quadcopter simulation with OCTUNE tuner
     -->

    <arg name="run_offb_controller" default="false"/>

    <!-- 
        PX4 SITL + Gazebo + MAVROS
    -->
    <include file="$(find px4)/launch/mavros_posix_sitl.launch" >
    </include>

    <!--
        MAVROS offboard position controller
    -->
    <include if="$(arg run_offb_controller)" file="$(find px4_octune_ros)/launch/offboard_controller.launch" >
    </include>

    <!--
        px4_octune_node
    -->
    <include file="$(find px4_octune_ros)/launch/start_tuner.launch">
        <arg name="debug" value="True"/>
    </include>
    
</launch>