<launch>
    <!-- 
        A full example of a quadcopter simulation with OCTUNE tuner
     -->

    <arg name="run_circle_traj" default="true"/>

    <!-- 
        PX4 SITL + Gazebo + MAVROS
    -->
    <include file="$(find px4)/launch/mavros_posix_sitl.launch" >
    </include>

    <!-- 
        Circular trajectory  + Geometric controller
     -->
    <include if="$(arg run_circle_traj)" file="$(find px4_octune_ros)/launch/circle_traj.launch" >
    </include>

</launch>